/* This stylesheet is used to style the public view of the plugin. */

#stickyduo {
	padding: 5px 10px;
	position: fixed;
	max-height: 40px;  /*LE AWESOME POTENTIAL OPTION*/
	left: 0;
	width: 100%;
	z-index: 99998;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	/*new*/
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	opacity: 0;
	top: 0;

}
/*
inner_max_width			>|MAXIMUM width needs 1200 UNTIL.....
inner_medium_mxw_bpoint	>|medium trigger at 1200 width
inner_medium_mxw		>|...where width needs 1000 max UNTIL....
inner_narrow_mxw_bpoint	>|narrow trigger at 980 width
inner_narrow_mxw		>|...where width needs 800 max
__________________


wide div height
wide logo height(size)
wide logo from top
narrow div height
narrow logo height
narrow logo swap
narrow logo from top

wide menu from top
wide menu styling

1. move issticky css to gen
2. make settings for le awesome variables, and
3. pass them to css gen

*/

#stickyduo a {/*UNIMPORTANT*/text-decoration: none;}

.admin-bar #stickyduo {
	top: 32px;
}
/*
#stickyduo:after {
	content: "";
	display: table;
	clear: both;
}
*/

/*LOGOOOOOOOOAL*/
#stickyduo-logo {
	float: left;/*NECESSARY*/
	font-size: 22px;
	line-height: 20px;
	margin: 0 auto !important;
}

#stickyduo-logo img {
	display: block;
	height: 25px; /*LE AWESOME VARIABLE::: resize logo by px height*/
	width: auto;
}
.open-nav {
	max-height: 400px !important;
}
.open-nav #stickyduo-mobile-toggle {/*LE AWESOME POTENTIAL OPTION*/
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
}


/*CURRENT & Nav Specific*/
#stickyduo-menu {
	float: right;
	text-align: right;
	margin: 0 !important;

	/*newstuff*/
	list-style: none;
	overflow: hidden;
}
#stickyduo-menu li {
	display: inline-block;
	margin: 0 0 0 1.25em !important;
	font-size: 12px;

	/*newstuff*/
	/*margin-left: 35px;*/
	line-height: 1.5;
}
#stickyduo-menu a {
	color: #888888;
	text-transform: uppercase;
	font-size: 12px;

	/*newstuff*/
	display: inline-block;
	line-height: 30px;
}

/*MOBILE TOGGLE*/
#stickyduo-mobile-toggle {
	display: none;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	margin-top:2px;
	right: 20px;
	/*top: 0;*/ /*LE AWESOME POTENTIAL OPTION*/
	width: 25px;
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

#stickyduo-mobile-toggle span {
	width: 25px;
	height: 3px;
	margin-bottom: 6px;
	border-radius: 1000px;
	background: #8f8f8f;
	display: block;
}



/*NEW CLASS ADDITIONS (.open-nav, lots of dynamic stuff here )*/
/*:::::::::::MOVED TO GENERATED STYLES
@media only screen and (max-width: 766px) {
	.stickyduo {
		padding-top: 25px;
	}
}
@media only screen and (max-width: 766px) { maybeunnecessary?
	.logo {
		float: none;
	}
}
@media only screen and (max-width: <?php echo $plugin_settings['wn_threshold']; ?>px) {
	#stickyduo-menu {
		padding-top: 10px;
		margin-bottom: 22px;
		float: left;
		text-align: center;
		width: 100%;
	}
}
@media only screen and (max-width: <?php echo $plugin_settings['wn_threshold']; ?>px) {
	#stickyduo-menu li {
		width: 100%;
		padding: 7px 0;
		margin: 0;
	}
}
@media only screen and (max-width: <?php echo $plugin_settings['wn_threshold']; ?>px) {
	#stickyduo-mobile-toggle {
		display: block;
	}
}
*/
